.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-circle-info:hover {
  color: #0d6efd !important;
}

.fa-pen-to-square:hover {
  color: #ffc107 !important;
}

.fa-trash:hover {
  color: #dc3545 !important;
}

