// fonts Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.dropdown-toggle::after {
    display: none;
}

.fa-magnifying-glass {
    left: 0 !important;
    bottom: 13px !important;
}