.card_cust {
    &:hover {
        border: 3px solid #0d6efd;
    }
}

.info_cust {
    &:hover {
        color: #0d6efd !important;
    }
}

.edit_cust {
    &:hover {
        color: #ffc107 !important;
    }
}

.delete_cust {
    &:hover {
        color: #dc3545 !important;
    }
}

footer li a {
    &:hover {
        text-decoration: underline  !important;
        color: #0d6efd !important;
    }
}